html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-family: Georgia; }

ul li {
  display: inline-block; }

.grid {
  display: grid;
  grid-gap: 10px;
  padding: 10px; }
  .grid div {
    border-radius: 10px;
    height: 50px; }
  .grid div:nth-child(2n) {
    background-color: lightblue; }
  .grid div:nth-child(2n+1) {
    background-color: #49bfe6; }
  @media screen and (min-width: 0px) {
    .grid.sm-1 {
      grid-template-columns: repeat(1, 1fr); }
    .grid.sm-2 {
      grid-template-columns: repeat(2, 1fr); }
    .grid.sm-3 {
      grid-template-columns: repeat(3, 1fr); }
    .grid.sm-4 {
      grid-template-columns: repeat(4, 1fr); }
    .grid.sm-5 {
      grid-template-columns: repeat(5, 1fr); }
    .grid.sm-6 {
      grid-template-columns: repeat(6, 1fr); }
    .grid.sm-7 {
      grid-template-columns: repeat(7, 1fr); }
    .grid.sm-8 {
      grid-template-columns: repeat(8, 1fr); }
    .grid.sm-9 {
      grid-template-columns: repeat(9, 1fr); }
    .grid.sm-10 {
      grid-template-columns: repeat(10, 1fr); }
    .grid.sm-11 {
      grid-template-columns: repeat(11, 1fr); }
    .grid.sm-12 {
      grid-template-columns: repeat(12, 1fr); } }
  @media screen and (min-width: 480px) {
    .grid.md-1 {
      grid-template-columns: repeat(1, 1fr); }
    .grid.md-2 {
      grid-template-columns: repeat(2, 1fr); }
    .grid.md-3 {
      grid-template-columns: repeat(3, 1fr); }
    .grid.md-4 {
      grid-template-columns: repeat(4, 1fr); }
    .grid.md-5 {
      grid-template-columns: repeat(5, 1fr); }
    .grid.md-6 {
      grid-template-columns: repeat(6, 1fr); }
    .grid.md-7 {
      grid-template-columns: repeat(7, 1fr); }
    .grid.md-8 {
      grid-template-columns: repeat(8, 1fr); }
    .grid.md-9 {
      grid-template-columns: repeat(9, 1fr); }
    .grid.md-10 {
      grid-template-columns: repeat(10, 1fr); }
    .grid.md-11 {
      grid-template-columns: repeat(11, 1fr); }
    .grid.md-12 {
      grid-template-columns: repeat(12, 1fr); } }
  @media screen and (min-width: 768px) {
    .grid.lg-1 {
      grid-template-columns: repeat(1, 1fr); }
    .grid.lg-2 {
      grid-template-columns: repeat(2, 1fr); }
    .grid.lg-3 {
      grid-template-columns: repeat(3, 1fr); }
    .grid.lg-4 {
      grid-template-columns: repeat(4, 1fr); }
    .grid.lg-5 {
      grid-template-columns: repeat(5, 1fr); }
    .grid.lg-6 {
      grid-template-columns: repeat(6, 1fr); }
    .grid.lg-7 {
      grid-template-columns: repeat(7, 1fr); }
    .grid.lg-8 {
      grid-template-columns: repeat(8, 1fr); }
    .grid.lg-9 {
      grid-template-columns: repeat(9, 1fr); }
    .grid.lg-10 {
      grid-template-columns: repeat(10, 1fr); }
    .grid.lg-11 {
      grid-template-columns: repeat(11, 1fr); }
    .grid.lg-12 {
      grid-template-columns: repeat(12, 1fr); } }
  @media screen and (min-width: 1024px) {
    .grid.xl-1 {
      grid-template-columns: repeat(1, 1fr); }
    .grid.xl-2 {
      grid-template-columns: repeat(2, 1fr); }
    .grid.xl-3 {
      grid-template-columns: repeat(3, 1fr); }
    .grid.xl-4 {
      grid-template-columns: repeat(4, 1fr); }
    .grid.xl-5 {
      grid-template-columns: repeat(5, 1fr); }
    .grid.xl-6 {
      grid-template-columns: repeat(6, 1fr); }
    .grid.xl-7 {
      grid-template-columns: repeat(7, 1fr); }
    .grid.xl-8 {
      grid-template-columns: repeat(8, 1fr); }
    .grid.xl-9 {
      grid-template-columns: repeat(9, 1fr); }
    .grid.xl-10 {
      grid-template-columns: repeat(10, 1fr); }
    .grid.xl-11 {
      grid-template-columns: repeat(11, 1fr); }
    .grid.xl-12 {
      grid-template-columns: repeat(12, 1fr); } }

nav.mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative; }
  nav.mobile input[name=mobile-btn] {
    display: none; }
  nav.mobile label.hamburguer {
    display: none;
    height: 50px;
    position: relative;
    width: 50px; }
    nav.mobile label.hamburguer:hover {
      cursor: pointer; }
    nav.mobile label.hamburguer span {
      background-color: blue;
      display: block;
      height: 5px;
      left: 10%;
      position: absolute;
      width: 80%; }
      nav.mobile label.hamburguer span:nth-child(1) {
        top: 10px; }
      nav.mobile label.hamburguer span:nth-child(2), nav.mobile label.hamburguer span:nth-child(3) {
        top: 22.5px; }
      nav.mobile label.hamburguer span:nth-child(4) {
        top: 35px; }

@media screen and (max-width: 720px) {
  nav.mobile {
    background-color: red; }
    nav.mobile label.hamburguer {
      display: inline-block; }
    nav.mobile ul {
      background-color: white;
      height: 0px;
      overflow: hidden;
      position: absolute;
      text-align: left;
      top: 100%;
      width: 100%; }
      nav.mobile ul li {
        display: block; }
    nav.mobile input#mobile-btn:checked ~ ul {
      height: 100%; } }
.container {
  border: 1px solid black; }

[class*="col"] {
  border: 1px solid black;
  background-color: tomato;
  min-height: 100px; }

.banner {
  background-color: turquoise; }

/*# sourceMappingURL=main.css.map */
