

.container {
  @include display-flex();
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100%;

  & > div {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 10px;
  }

  div:nth-child(2n) {
    background-color: lightblue;
  }

  div:nth-child(2n+1) {
    background-color: #49bfe6;
  }


 
}