*, h1, h2, h3, h4, h5, h6, p, a, label {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
	font-size: 2.3em;
	font-weight: bold;
}

h2 {
	font-size: 1.7em;
	font-weight: bold;
}

h3 {
	font-size: 1.1em;
	font-weight: bold;
}

ul li {
	display: inline-block;
}

body.no-scroll {
	overflow: hidden;
}