* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif!important;
  text-decoration: none;
}

h1 {
	font-size: 2em;
}

ul li {
	display: inline-block;
}

body.no-scroll {
	overflow: hidden;
}