
	a.logo {

		h1 {
			color: white;
			font-size: 1.5em;
			font-weight: bold;
		}
	}

.example::before {
	content: 'example';
	font-family: 'mono', sans-serif;
	font-size: .9em;
	position: absolute;
	top: 5px;
	left: 5px;
	color: #1d0238;
	opacity: .5;
}

.example {

	background-color: #d5a9ff;
	border: 3px solid #972cfe;
	border-left: none;
	border-right: none;
	margin: 30px auto;
	padding: 20px;
	position: relative;
	transition: height .3s ease;

	& > div[class*="container"] {
		box-shadow: 0 0 4px rgba(0,0,0,.4);
	}
}

#example-1 {
	div:not([class*="container"]) {
		background-color: #972cfe;
		border-radius: 5px;
		color: white;
		height: 40px;
		margin: 10px;
		padding-top: 12px;
		padding-left: 15px;
		width: 40px;	
	}

	& > div[class*="container"] {
		background-color: white;
		border-radius: 10px;
		margin: 10px;
		padding: 40px;
		position: relative;
		transition: height 2s ease-out, width 2s ease-out;
		width: 380px;
		height: 380px;
		&::before {
			color: #972cfe;
			font-family: 'mono', sans-serif;
			font-size: .8em;
			font-weight: bold;
			position: absolute;
			top: 3px;
			left: 7px;	
		}
	}

	& > div.container-row {
		&::before {
			content: 'container-row';	
		}
	}

	& > div.container-col {
		&::before {
			content: 'container-col';
		}
	}

	span[class^="js-modifier"] {
		position: absolute;

		&[class$="height"] {
			right: 3px;
			top:3px;

		}

		&[class$="width"] {
			bottom: 3px;
			left: 7px;
		}
	}

	input[class^="js-modifier"] {
		position: absolute;
		height: 0px;
		visibility: hidden;
		width: 0px; 
		
		& + label {
			color: red;
			position: absolute;
		}

		& + label:hover {
			cursor: pointer;
		}

		&[class$="width"] + label {
			bottom: 5px;
		}

		&[class$="height"] + label {
			right: -30px;
			transform: rotate(90deg);
		}

		&:checked + label {
			color: green;
		}	
	}
}

#example-2 {
	& > div {
		background-color: white;
		box-shadow: 0 0 4px rgba(0,0,0,.4);
		height: 400px;
		overflow: hidden;
		position: relative;
		width: 300px;


		nav.navbar {
			top: 0px;
			width: 100%;
			position: absolute;
			z-index: 1;

			label.hamburguer {
				display: inline-block;
			}

			ul.navbar-main {		
				background-color: $navBckgnd;
				display: flex;
				flex-direction: column;
				height: 0px;
				left: 0px;
				overflow: hidden;
			  position: absolute;
			  text-align: center;
			  top: 100%;
			  transition: height .3s ease, right .3s ease, left .3s ease;
			  width: 100%; 
			  z-index: 2;

			  li {

					a {
						color: $navColor;
						width: 100%;
						transition: all .1s ease;
						display: block;
						padding-right: 35px;
						transition: color .2s ease, background-color .2s ease;

						&:hover {
							background-color: $navColor;
							color: $navBckgnd;
						}
					}
				}

			  &.mobile-left {
			  	height: 100vh;
			  	right: 100%;

			  	li {
			  		text-align: right;
			  	}
			  }


			}

			.mask {
				position: absolute;
				width: 100%;
				height: 100vh;
			}

			input#mobile-btn-example-2-1 {
				
				&:checked ~ ul {
					height: 100vh;
					height: calc(75vh - 40px);
					overflow: scroll;

					&.mobile-left {
						right: 0;
					}
				}
			}
		}
	}
}

#example-3 {

	& > div[class*='container'] {	
		background-color: white;
		border-radius: 10px;
		margin-top: 20px;
		max-width: 500px;
		padding: 20px;
	}

	h3 {
		width: 100%;
		margin: 20px 0px;

		&:first-child {
			margin-top: 0px;
		}
	}
}

#example-5 {

	& > div[class*='container'] {	
		background-color: white;
		border-radius: 10px;
		margin-top: 20px;
		max-width: 500px;
		padding: 20px;

		h3 {
			width: 100%;
			margin: 20px 0px;

			&:first-child {
				margin-top: 0px;
			}
		}
	}

	.accordion {
		&__panel {
			p {
				padding: 10px;
			}
		}
	}
}

#example-6 {
	& > div[class*='container'] {	
		background-color: white;
		border-radius: 10px;
		margin-top: 20px;
		max-width: 500px;
		padding: 20px;

		h3 {
			width: 100%;
			margin: 20px 0px;

			&:first-child {
				margin-top: 0px;
			}
		}
	}
}