* {
	font-family: 'Roboto';
}
a.logo {

	h1 {
		color: white;
		font-size: 1.5em;
		font-weight: bold;
	}
}

a#githublink {
	color: $primaryColor;
}

pre {
	font-family: 'Consolas', monospace;
	font-size: .8em;
	padding: 20px;
	background-color: #972cfe;
	color: #e0c2fc;
	font-weight: bold;
	overflow: auto;
}

:focus {outline:none!important;}
::-moz-focus-inner {border:0!important;}

footer.main-footer {
	background-color: $navBckgnd;
	text-align: center;
	padding: 20px;
	color: white;
}

body {
	min-width: 320px;
}

.example::before {

	content: 'example';
	font-family: 'mono', sans-serif;
	font-size: .9em;
	position: absolute;
	top: 5px;
	left: 5px;
	color: #1d0238;
	opacity: .5;
}

.example {

	background-color: lighten($primaryColor, 30%);
	border: 3px solid darken($primaryColor, 10%);
	border-left: none;
	border-right: none;
	box-shadow: 0px -5px 7px -2px rgba(0,0,0,0.4);
	margin: 0px auto;
	padding: 20px;
	position: relative;
	transition: height .3s ease;

	& > div[class*="container"] {
		box-shadow: 0 0 4px rgba(0,0,0,.4);
	}
}

#example-1 {
	div:not([class*="container"]) {
		background-color: #972cfe;
		border-radius: 5px;
		color: white;
		height: 40px;
		margin: 10px;
		padding-top: 12px;
		padding-left: 15px;
		width: 40px;	
	}

	& > div[class*="container"] {
		background-color: white;
		border-radius: 10px;
		margin: 10px;
		padding: 40px;
		position: relative;
		transition: height 2s ease-out, width 2s ease-out;
		width: 380px;
		height: 380px;
		&::before {
			color: #972cfe;
			font-family: 'mono', sans-serif;
			font-size: .8em;
			font-weight: bold;
			position: absolute;
			top: 3px;
			left: 7px;	
		}
	}

	& > div.container-row {
		&::before {
			content: 'container-row';	
		}
	}

	& > div.container-col {
		&::before {
			content: 'container-col';
		}
	}

	span[class^="js-modifier"] {
		position: absolute;

		&[class$="height"] {
			right: 3px;
			top:3px;

		}

		&[class$="width"] {
			bottom: 3px;
			left: 7px;
		}
	}

	input[class^="js-modifier"] {
		position: absolute;
		height: 0px;
		visibility: hidden;
		width: 0px; 
		
		& + label {
			color: red;
			position: absolute;
		}

		& + label:hover {
			cursor: pointer;
		}

		&[class$="width"] + label {
			bottom: 5px;
		}

		&[class$="height"] + label {
			right: -30px;
			transform: rotate(90deg);
		}

		&:checked + label {
			color: green;
		}	
	}
}

#example-2 {
	.nav-example-container {
		background-color: white;
		box-shadow: 0 0 4px rgba(0,0,0,.4);
		display: block;
		height: 400px;
		margin: 20px auto;
		overflow: hidden;
		position: relative;
		width: 300px;


		nav.izi-navbar {
			top: 0px;
			width: 100%;
			position: absolute;
			z-index: 1;

			label.hamburguer {
				display: inline-block;
			}

			ul.navbar-main {		
				background-color: $navBckgnd;
				display: flex;
				flex-direction: column;
				height: 0px;
				left: 0px;
				overflow: hidden;
				position: absolute;
				top: 100%;
				transition: height .3s ease, right .3s ease, left .3s ease;
				width: 100%; 
				z-index: 2;

				li {

					a {
						color: $navColor;
						width: 100%;
						display: block;
						padding-right: 35px;
						transition: color .2s ease, background-color .2s ease;

						&:hover {
							background-color: $navColor;
							color: $navBckgnd;
						}
					}
				}

				&.mobile-left {
					height: 100vh;
					right: 100%;
				}


			}

			.mask {
				position: absolute;
				width: 100%;
				height: 100vh;
			}

			input#mobile-btn-example-2-1 {
				
				&:checked ~ ul {
					height: 100vh;
					height: calc(75vh - 40px);
					overflow: scroll;

					&.mobile-left {
						right: 0;
					}
				}
			}

			.dropdown {

				&__toggle:checked {

					& ~ .dropdown__title {
						background-color: $navColor;
						color: $navBckgnd;		
					}

					& ~ .dropdown__menu {
						max-height: 1000px;
						max-height: 80vh;
					}
				}

				&__title {
					color: $navColor;
					width: 100%;
					display: block;
					padding-right: 35px;
					padding-top: 10px;
					padding-bottom: 10px;
					position: relative;

					&:hover {
						background-color: $navColor;
						color: $navBckgnd;

						.plus-sign {
							span {
								background-color: $navBckgnd;
							}
						}
					}
				}

				&__menu {
					display: block;
					position: static;
					padding: 0px;
					height: auto;
					max-height: 0px;
					overflow: auto;
					transition: max-height .4s ease;

					li {
						a {
							padding-left: 45px;
						}
					}
				}
			}

			.plus-sign {
				display: inline-block;
			}

			input.dropdown__toggle:checked {
				& + .dropdown__title {
					& > .plus-sign {
						span {
							background-color: $navBckgnd;

							&:first-child {
								transform: rotate(-90deg);
							}
							&:last-child {
								transform: rotate(90deg);
							}
						}
					}
				}
			}
		}
	}
}

#example-3 {

	& > div[class*='container'] {	
		background-color: white;
		border-radius: 10px;
		margin-top: 20px;
		max-width: 500px;
		padding: 20px;
	}

	h3 {
		width: 100%;
		margin: 20px 0px;

		&:first-child {
			margin-top: 0px;
		}
	}
}

#example-5 {

	& > div[class*='container'] {	
		background-color: white;
		border-radius: 10px;
		margin-top: 20px;
		max-width: 500px;
		padding: 20px;

		h3 {
			width: 100%;
			margin: 20px 0px;

			&:first-child {
				margin-top: 0px;
			}
		}
	}

	.accordion {
		&__panel {
			p {
				padding: 10px;
			}
		}
	}
}

#example-6 {
	& > div[class*='container'] {	
		background-color: white;
		border-radius: 10px;
		margin: 10px;
		max-width: 400px;
		padding: 20px;
		width: 100%;

		h3 {
			width: 100%;
			margin: 20px 0px;

			&:first-child {
				margin-top: 0px;
			}
		}
	}
}

#example-7 {
	& > div[class*='container'] {	
		background-color: white;
		border-radius: 10px;
		margin: 10px;
		max-width: 500px;
		padding: 20px;

		h3 {
			width: 100%;
			margin: 20px 0px;

			&:first-child {
				margin-top: 0px;
			}
		}
	}

	.carousel {

		&__slide {

			> img {
				display: block;
				margin: 0 auto;
			}
		}
	}
}

#example-8 {
	& > div[class*='container'] {	
		background-color: white;
		border-radius: 10px;
		margin: 10px;
		max-width: 500px;
		padding: 20px;

		h3 {
			text-align: center;
			width: 100%;
			margin: 20px 0px;

			&:first-child {
				margin-top: 0px;
			}
		}

		a {
			color: $primaryColor;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}

		.modal-trigger {
			margin: 10px 30px;
		}

		.modal__footer {
			align-items: end;
			display: flex;
			font-size: .8em;
			justify-content: space-between;
		}

		.modal__body {
			height: 150px;
		}

		.modal__header {
			> .modal__close {
				position: absolute;
				top: 10px;
				right: 15px;
			}
		}
	}
}

#example-9 {
	& > div[class*='container'] {	
		background-color: white;
		border-radius: 10px;
		margin: 10px;
		max-width: 500px;
		padding: 20px;

		h3 {
			width: 100%;
			margin: 20px 0px;

			&:first-child {
				margin-top: 0px;
			}
		}


	}
}

#example-10 {
	& > div[class*='container'] {	
		background-color: white;
		border-radius: 10px;
		margin: 10px;
		max-width: 500px;
		padding: 20px;

		h3 {
			width: 100%;
			margin: 20px 0px;

			&:first-child {
				margin-top: 0px;
			}
		}


	}

	.izi-draggable {
		border: 2px solid $primaryColor;
		width: 300px;
		height: 300px;

		&__area {

			p {
				display: inline-block;
				padding: 5px;

			}
		}
	}
}

.input-field {
	width: 100%;
	text-align: center;
	margin: 10px;

	> * {
		vertical-align: middle;
		margin: 0px 5px;
	}
}

.izi-banner {
	background: linear-gradient(to bottom right, lighten($primaryColor, 20%), white ) ;
	h1, h2 {
		opacity: .8;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	}

	h2 {
		margin-top: 80px;
		margin-bottom: 0px;
		
	}

	p {
		font-size: 1.3em;
		margin: 15px;
		opacity: .6;
		line-height: 1.3em;
	}
}

p#intro-p {
	font-size: 2em;
	margin: 80px 15px;
	text-align: center;
}

code {
	background-color: darken($primaryColor, 3%);
	border-radius: 5px;
	color: lighten($primaryColor, 30%);
	font-family: monospace;
	padding: 0px 7px;
	
	
}

#sticky-note-switch {
	
	& + .sticky-note-switch-state {
		&:after {
			content: 'off';
			color: gray;
			display: inline-block;
		}
	}

	&:checked {
		& + .sticky-note-switch-state {
			&:after {
				content: 'on';
				color: $primaryColor;
				
			}
		}
	}
}

@media screen and (max-width: 500px) {

	#example-7, #example-10 {
		> .container-row {
			padding: 0px!important;
		}
	}
}

