
$navHeight: 80px; /* The navbar height, used to calculate the header's margin when the navbar is fixed */
$navBckgnd: black; /* The navbar background's color */
$navColor: white;

$cardMargin: 15px;
$cardWidth: 300px;

$primaryColor: #972cfe;
$primaryFontColor: white;

$successColor: #4bd65c;

$dangerColor: #e44944;

$carouselPadding: 20px;
