
$navHeight: 80px; /* The navbar height, used to calculate the header's margin when the navbar is fixed */
$navBckgnd: black; /* The navbar background's color */
$navColor: white;

$cardMargin: 15px;
$cardWidth: 300px;

$primaryColor: #972cfe;
$primaryFontColor: white;

$successColor: #47ce01;

$dangerColor: #ce0801;

$carouselPadding: 20px;
