
header {
	margin-bottom: 50px; // This value must be equal to the navbar's height.
}

nav.navbar {

	@include display-flex();
	min-height: $navHeight;
	background-color: $navBckgnd;
	padding: 0px 15px;
	position: fixed;
	width: 100%;
	z-index: 2;

	& + * {
		padding-top: $navHeight;
	}

	a.logo {
		align-self: center;
	}

	.mask {
		background-color: black;
		height: 0vh;
		left: 0px;
		opacity: 0;
		position: fixed;
		top: $navHeight;
		transition: opacity .3s ease, z-index 0s .3s, height 0s .3s;
		width: 100%;
		z-index: -10;

		&:hover {
			cursor: pointer;
		}
	}


	label.hamburguer {
		align-self: center;
		display: none;
		height: 50px;
		margin-left: auto;
		margin-right: 5px;
		position: relative;
		width: 50px;

		&:hover {
			cursor: pointer;
		}

		span {
			background-color: white;
			display: block;
			height: 5px;
			left: 10%;
			opacity: 1;
			position: absolute;
			width: 80%;
			transition: top .3s ease .3s, opacity 0s ease .3s, transform .3s ease;

			&:nth-child(1) {
				top: 10px;		
			}

			&:nth-child(2), &:nth-child(3) {
				top: 22.5px;
			}

			&:nth-child(4) {
				top: 35px;
			}
		}
	}

	input[name=mobile-btn] {
		display: none;

		&:checked + label.hamburguer {
			span {
				&:nth-child(1), &:nth-child(4) {
					top: 22.5px;
					opacity: 0;
					transition: top .3s ease, opacity 0s ease .3s;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
					transition: transform .3s ease .3s;
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
					transition: transform .3s ease .3s;
				}
			}
		}

		&:checked ~ .mask {
			opacity: 0.4;
			z-index: 1;
			height: 100vh;
			transition: opacity .3s ease, z-index 0s .3s, height 0s;
		}
	}

	ul.navbar-main {
		align-self: center;
		margin-left: auto;

		li {

			a {
				color: white;
				padding: 10px;

				&:hover {
					opacity: .9;
					cursor: pointer;
				}
			}
		}
	}
}

@media screen and (max-width: 720px) {

	nav.navbar {
		top: 0px;
		width: 100%;
		

		label.hamburguer {
			display: inline-block;
		}

		ul.navbar-main {		
			background-color: $navBckgnd;
			display: flex;
			flex-direction: column;
			height: 0px;
			left: 0px;
			overflow: hidden;
		  position: absolute;
		  text-align: center;
		  top: 100%;
		  transition: height .3s ease, right .3s ease, left .3s ease;
		  width: 100%; 
		  z-index: 2;

		  li {

				a {
					color: $navColor;
					width: 100%;
					transition: all .1s ease;
					display: block;
					padding-right: 35px;
					transition: color .2s ease, background-color .2s ease;

					&:hover {
						background-color: $navColor;
						color: $navBckgnd;
					}
				}
			}

		  &.mobile-left {
		  	height: 100vh;
		  	right: 100%;

		  	li {
		  		text-align: right;
		  	}
		  }
		}

		input#mobile-btn {
			
			&:checked ~ ul {
				height: 100vh;
				height: calc(75vh - 40px);
				overflow: scroll;

				&.mobile-left {
					height: 100vh;
					right: 40vw;
				}
			}
		}
	}
}	

