.accordion {

	&__tab {
		background-color: darken($primaryColor, 10%);
		color: $primaryFontColor;
		padding: 10px;

		&:hover {
			cursor: pointer;
		}

		border: 1px solid lighten($primaryColor, 20%);
	}

	&__panel {
		overflow: hidden;
		transition: height .3s ease;
		border-left: 1px solid lighten($primaryColor, 20%);
		border-right: 1px solid lighten($primaryColor, 20%);

		&:last-child {
			border-bottom: 1px solid lighten($primaryColor, 20%);
		}
	}
}



