.izi-btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: white;
	border: none;
	border-radius: 3px;
	margin: 3px;
	transition: background-color .1s ease, box-shadow .2s ease, transform .2s ease;
	padding: 7px 12px;

	&:hover {
		cursor: pointer;
	}

	&--primary {
		background-color: $primaryColor;
		color: $primaryFontColor;

		&:active {
			background-color: darken($primaryColor, 10%);
		}
	}

	&--success {
		background-color: $successColor;
		color: $primaryFontColor;

		&:active {
			background-color: darken($successColor, 10%);
		}
	}

	&--danger {
		background-color: $dangerColor;
		color: $primaryFontColor;

		&:active {
			background-color: darken($dangerColor,10%);
		}
	}

	&--hover {
		box-shadow: 0px 1px 3px rgba(0,0,0,0.5);

		&:hover {
			box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
			transform: scale(1.1);
		}

		&:active {
			box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
			transform: scale(1);

			&.izi-btn--primary {
				background-color: $primaryColor;
			}

			&.izi-btn--success {
				background-color: $successColor;
			}

			&.izi-btn--danger {
				background-color: $dangerColor;
			}
		}	
	}

	&--pressable {
		border-radius: 1000px;
		box-shadow: inset 0px 3px 5px rgba(255,255,255,0.3);
		border: 1px solid rgba(0,0,0,0.3);
		border-bottom: 2px solid rgba(0,0,0,0.3);

		&:hover {
			box-shadow: inset 0px 3px 5px rgba(255,255,255,0.5);
		}

		&:active {
			box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3);

			&.izi-btn--primary {
				background-color: $primaryColor;
			}

			&.izi-btn--success {
				background-color: $successColor;
			}

			&.izi-btn--danger {
				background-color: $dangerColor;
			}
		}
	}

	&--pressable-2 {
		box-shadow: none;
		position: relative;
		overflow: visible;
		border-radius: 5px 5px 0 0;
		top: 0;
		transition: top .2s ease;

		&:after {
			content: '';
		    display: inline-block;
		    width: 100%;
		    height: 2px;
		    background-color: #aaa;
		    position: absolute;
		    left: 0;
		    top: calc(100% - 2px);
		    transition: height .2s ease, box-shadow .2s ease;
		}

		&.izi-btn--primary:after {
			background-color: darken($primaryColor, 15%);
		}

		&.izi-btn--success:after {
			background-color: darken($successColor, 15%);
		}

		&.izi-btn--danger:after {
			background-color: darken($dangerColor, 15%);
		}

		&:hover {
			top: -3px;
			&::after {
				height: 5px;
				box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.2);
			}
		}

		&:active {
			top: 0px;

			&.izi-btn--primary {
				background-color: $primaryColor;
			}

			&.izi-btn--success {
				background-color: $successColor;
			}

			&.izi-btn--danger {
				background-color: $dangerColor;
			}

			&:after {
				height: 2px;
			}
		}
	}
}