
.card {
	&, &--profile, &--item {
		background-color: white;
		border-radius: 3px;
		box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
		margin: $cardMargin;
		overflow: hidden;
		transition: box-shadow .4s ease, transform .7s ease;
		width: $cardWidth;

		&:hover {
			box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
		}

		footer {
			padding: 15px;
		}
	}
		
	&--profile {
		header {
			padding-top: 15px;
			img {
				border-radius: 50%;
				display: block;
				margin: 0px auto;
			}
		}
	}

	&--item {
		header {
			img {
				width: 100%;
			}
		}
	}

	&__content {

		margin-top: 0px;
		padding: 15px;


		h1 {
			display: block;
			text-align: center;
			margin: 10px auto;
			margin-top: 0px;
		}

		p {
			text-align: justify;
		}
	}	

	&--hover-fx {
		
	}
}


