.carousel {

	padding: $carouselPadding;
	position: relative;

	&__slide {
		display: none;
		height: 100%;
		overflow: auto;
		position: relative;
		width: 100%;
	}

	&__radio {
		display: none;

		&:checked + .carousel__slide {
			display: block;
		}
	}

	&__labels {
		position: absolute;
		text-align: center;
		top: calc(100% - #{$carouselPadding});
		width: calc(100% - #{$carouselPadding} - #{$carouselPadding});
	}

	&__label {
		border-radius: 50%;
		border: 1px solid $primaryColor;
		cursor: pointer;
		display: inline-block;
		height: 10px;
		user-select: none;
		width: 10px;
		

		&--selected {
			background-color: $primaryColor;
		}
	}

	&__arrow-right, &__arrow-left {
		cursor: pointer;
		color: $primaryColor;
		font-size: 1.4em;
		position: absolute;
		transition: font-size .1s ease;
		user-select: none;
	}

	&__arrow-right {
		right: 0;
	}

	&__arrow-left {
		left: 0;
	}
}

@media screen and (max-width: 500px) {
	.carousel {
		width: 100%;
		padding: 0px;

		&__slide {
			width: 100%;

			> img {
				width: 100%;
			}
		}

		&__labels {
			width: 100%;
		}

		&__arrow-left {
			left: 20px;
			font-size: 2em;
		}
		&__arrow-right {
			right: 20px;
			font-size: 2em;
		}
	}
}