.izi-radio {
	appearance: none;
	border: 2px solid $primaryColor;
	border-radius: 50%;
	position: relative;
	width: 22px;
	height: 22px;

	&:after {
		background-color: $primaryColor;
		border-radius: 50%;
		content: '';
		display: inline-block;
		width: 0px;
		height: 0px;
		position: absolute;
		top: 50%;
		left: 50%;
		transition: all .2s ease;
	}

	&:checked {
		background-color: white;

		&:after {
			top: 3px;
			left: 3px;
			width: 12px;
			height: 12px;
		}
	}
	
	&--filled {

		&:checked {
			background-color: white;

			&:after {
				top: -1px;
				left: -1px;
				width: 20px;
				height: 20px;
			}
		}
	}
}

.izi-checkbox {
	appearance: none;
	border: 2px solid $primaryColor;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
	transition: all .2s ease;
	width: 22px;
	height: 22px;

	&:before, &:after {
		content: '';
		display: inline-block;
		position: absolute;
		transition: all .2s ease;
	}

	&--switch {
		border-color: gray;
		border-radius: 20px;
		width: 44px;

		&:after {
			background-color: gray;
			border-radius: 50%;
			height: 16px;
			left: 1px;
			top: 1px;
			width: 16px;
		}

		&:checked {
			background-color: white;
			border-color: $primaryColor;

			&:after {
				background-color: $primaryColor;
				left: 23px;
			}
		}
	}

	&--nobox {

		border: none;

		&:after {
			border: 2px solid $primaryColor;
			border-radius: 3px;
			height: 18px;
			left: 0;
			top: 0;
			width: 18px;
		}

		&:checked {
			background-color: white;

			&:after {
				width: 7px;
				border: none;
				border-bottom: 2px solid $primaryColor;
				border-right: 2px solid $primaryColor;
				border-radius: 0px;
				transform: rotate(45deg);
				top: -2px;
				left: 6px;
			}
		}
	}

	&--filled {

		&:before {
			background-color: $primaryColor;
			width: 0px;
			height: 0px;
			top: 50%;
			left: 50%;
		}

		&:after {
			top: 50%;
			left: 50%;
			width: 0px;
			height: 0px;
		}

		&:checked {
			background-color: white;

			&:before {
				width: 19px;
				height: 19px;
				left: 0px;
				top: 0px;
			}

			&:after {
				border-right: 2px solid white;
				border-bottom: 2px solid white;
				transform: rotate(45deg);
				width: 5px;
				height: 10px;
				top: 1px;
				left: 6px;
			}
		}
	}

	&--default {

		&:after {
			width: 0px;
			height: 0px;
			top: 50%;
			left: 50%;
		}

		&:checked {
			background-color: white;
			
			&:after {
				border-right: 2px solid $primaryColor;
				border-bottom: 2px solid $primaryColor;
				transform: rotate(45deg);
				width: 5px;
				height: 10px;
				top: 1px;
				left: 6px;
			}
		}
	}
}