.izi-sticky-pack {
	background-color: white;
	border-radius: 0px 20px 20px 0px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	position: fixed;
	top: 85%;
	left: 0;

	&__tooltip {
		background-color: rgba(0,0,0,0.7);
		border-radius: 50% 50% 50% 0px;
		bottom: calc(100% + 2px);
		color: white;
		display: none;
		font-size: .8em;
		padding: 15px;
		position: absolute;
		left: calc(100% + 2px);
		text-align: center;
		width: 130px;
	}

	&__icon {
		cursor: pointer;
		display: flex;
		padding: 10px;

		span {
			display: inline-block;
			width: 7px;
			height: 21px;

			&:nth-child(1) {
				background-color: #f6ff06;
				border-radius: 3px 0px 0px 3px;
			}

			&:nth-child(2) {
				background-color: #08d211;
			}

			&:nth-child(3) {
				background-color: #fe296d;
				border-radius: 0px 3px 3px 0px;
			}
		}

		&:hover {
			color: red;
			& ~ .izi-sticky-pack__tooltip {
				display: inline-block;
			}
		}
	}

	&__create {
		width: 40px;
		height: 40px;
	}

	&__color {
		width: 20px;
		height: 20px;
		padding: 15px;
		border-radius: 50%;
		background-color: #f6ff06;
	}

	&__note {
		background-color: #ffff00;
		border-radius: 3px;
		box-shadow: 5px 5px 7px rgba(33,33,33,.7);
		cursor: move;
		cursor: grab;
		display: inlien-block;
		font-weight: bold;
		height: 150px;
		overflow: hidden;
		padding: 7px;
		padding-right: 15px;
		position: fixed;
		transtion: all 2s ease;
		width: 150px;
		word-wrap: break-word;
		z-index: 2;

		&:hover {

		}

		&:active {
			cursor: grabbing;
		}

		&--yellow {
			background-color: #f6ff06;
		}

		&--green {
			background-color: #08d211;
		}

		&--pink {
			background-color: #fe296d;
		}
	}

	&__note-text {
		font-size: .8em;
		max-height: 130px;
		overflow: hidden;
	}

	&__note-edit {
		background: none;
		border: none;
		color: rgba(0,0,0,0.7);
		cursor: pointer;
		padding: 2px;
		position: absolute;
		width: 15px;
		height: 15px;
		left: 122px;
		text-align: center;
		top: 127px;

		&--editing {
			color: cyan;
		}
	}

	&__note-pin {
		background: none;
		border: none;
		color: rgba(0,0,0,0.7);
		cursor: pointer;
		padding: 2px;
		position: absolute;
		top: 125px;
		left: 10px;

		&--pinned {
			color: cyan;
		}
	}

	&__note-close {
		background: none;
		border: none;
		color: rgba(0,0,0,0.7);
		cursor: pointer;
		left: 133px;
		margin: 0;
		padding: 2px;
		position: absolute;
		top: 2px;
	}
}