.izi-sticky-pack {
	background-color: white;
	border-radius: 0px 20px 20px 0px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	position: fixed;
	top: 85%;
	left: 0;
	
	&__tooltip {
		background-color: rgba(0,0,0,0.7);
		border-radius: 50% 50% 50% 0px;
		bottom: calc(100% + 2px);
		color: white;
		display: none;
		font-size: .8em;
		padding: 15px;
		position: absolute; 
		left: calc(100% + 2px);
		text-align: center;	
		width: 130px;
	}

	&__create {
		cursor: pointer;
		background-image: url('../assets/stickypack.jpg');
		background-size: cover;
		padding: 15px;

		&:hover {
			color: red;
			& ~ .izi-sticky-pack__tooltip {
				display: inline-block;
			}
		}	
	}

	&__note {
		border-radius: 3px;
		display: inlien-block;
		position: fixed;
		background-color: #5dd959;
		width: 150px;
		height: 150px;
		box-shadow: 5px 5px 7px rgba(33,33,33,.7);
		z-index: 99999;
		padding: 7px;
		transtion: transform .3s ease;
		cursor: move;
		cursor: grab;

		&:hover {
			transform: rotate(0deg);
			color: white;
		}

		&:active {
			cursor: grabbing;
		}

		&--green {
			background-color: #5dd959;
		}

		&--yellow {
			background-color: #fbef68;
		}

		&--pink {
			background-color: #ff7b98;
		}
	}

	&__note-edit {
		position: absolute;
		color: white;
		width: 15px;
		height: 15px;
		background-color: yellow;

		&:hover {
			background-color: blue

		}
	}

	&__note-pin {
		padding: 10px;
		position: absolute;
		top: 80%;
		background-color: lightblue;
	}
}